<section class="articles">

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="img-wrapper">
                    <a href="detail.html" title="Dragon Ball Super prepara todo para la derrota de Vegeta">
                        <picture>
                            <source srcset="img/contents/dragonball-xs.jpg 375w, img/contents/dragonball-sm.jpg 768w" media="(min-width: 768px)">
                            <source srcset="img/contents/dragonball-md.jpg 1024w, img/contents/dragonball-@2x.jpg 1536w" media="(min-width: 992px)">
                            <source srcset="img/contents/dragonball-lg.jpg 1200w, img/contents/dragonball-@3x.jpg 2048w" media="(min-width: 1200px)">
                            <img class="image img-responsive" src="img/contents/dragonball-lg.jpg" alt="Dogers player throwing a ball" title="Dragon Ball Super prepara todo para la derrota de Vegeta">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="Dragon Ball Super prepara todo para la derrota de Vegeta">
                                <h1 class="title">Dragon Ball Super prepara todo para la derrota de Vegeta</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-one.png" alt="Darth Vader Avatar" class="img-circle author-avatar" srcset="img/avatars/user-one.png 1x, img/avatars/user-one@2x.jpg 2x, img/avatars/user-one@3x.jpg 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="1" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="1" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">Darth Vader</span>,
                                    <time class="date" datetime="2018-02-14T13:36:40" data-toggle="tooltip" data-placement="bottom" title="14 Feb 2018, 13:36">
                                        14 Feb 2018, 13:36
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>El príncipe de los saiyas, Vegeta, continúa en el Torneo de Poder. No obstante, esta realidad terminaría
                        pronto de acuerdo al adelanto de
                        <strong>"Dragon Ball Super" 128, </strong>
                        donde se aprecia que enfrentará al poderoso Jiren
                    </p>
                    <p>En "Dragon Ball Super" 128, Vegeta usará el escaso poder que le queda para intentar vencer a Jiren.</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="img-wrapper">
                    <a href="detail.html" title="Antonio Banderas es Picasso en abril por National Geographic">
                        <picture>
                            <source srcset="img/contents/banderas-xs.jpg 375w, img/contents/banderas-sm.jpg 768w" media="(min-width: 768px)">
                            <source srcset="img/contents/banderas-md.jpg 1024w, img/contents/banderas-@2x.jpg 1536w" media="(min-width: 992px)">
                            <source srcset="img/contents/banderas-lg.jpg 1200w, img/contents/banderas-@3x.jpg 2048w" media="(min-width: 1200px)">
                            <img class="image img-responsive" src="img/contents/banderas-lg.jpg" alt="Dogers player throwing a ball" title="Antonio Banderas es Picasso en abril por National Geographic">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="Antonio Banderas es Picasso en abril por National Geographic">
                                <h1 class="title">Antonio Banderas es Picasso en abril por National Geographic </h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-six.png" alt="Darth Vader Avatar" class="img-circle author-avatar" srcset="img/avatars/user-six.png 1x, img/avatars/user-placeholder@2x.png 2x, img/avatars/user-placeholder@3x.png 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="2" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="2" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">Stormtrooper</span>,
                                    <time class="date" datetime="2018-02-09T15:02:30" data-toggle="tooltip" data-placement="bottom" title="09 Feb 2018, 15:02">
                                        09 Feb 2018, 15:02
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>Actor interpreta por diez episodios al prolífico artista español en
                        <em>"Genius: Picasso"</em>, segunda temporada de serie nominada al Emmy y los Globos de Oro.</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="img-wrapper">
                    <a href="detail.html" title='"Patoaventuras": un clásico en la era del smartphone'>
                        <picture>
                            <source srcset="img/contents/patoaventuras-xs.jpg 375w, img/contents/patoaventuras-sm.jpg 768w" media="(min-width: 768px)">
                            <source srcset="img/contents/patoaventuras-md.jpg 1024w, img/contents/patoaventuras-@2x.jpg 1536w" media="(min-width: 992px)">
                            <source srcset="img/contents/patoaventuras-lg.jpg 1200w, img/contents/patoaventuras-@3x.jpg 2048w" media="(min-width: 1200px)">
                            <img class="image img-responsive" src="img/contents/patoaventuras-lg.jpg" alt="Dancers" title='"Patoaventuras": un clásico en la era del smartphone'>
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title='"Patoaventuras": un clásico en la era del smartphone'>
                                <h1 class="title">"Patoaventuras": un clásico en la era del smartphone</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-two.png" alt="BB-8 Avatar" class="img-circle author-avatar" srcset="img/avatars/user-two.png 1x, img/avatars/user-two@2x.jpg 2x, img/avatars/user-two@3x.jpg 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="3" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="3" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">BB-8</span>,
                                    <time class="date" datetime="2018-01-16T10:10:00" data-toggle="tooltip" data-placement="bottom" title="16 Ene 2018, 10:10">
                                        16 Ene 2018, 10:10
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>Este domingo 4 de febrero los canales Disney emiten la nueva versión de las aventuras del tío Rico, Donald
                        y sus sobrinos. Entrevistamos a los showrunners</p>
                    <p>Antes de normalizarse la TV por cable y cuando Netflix no era siquiera fantasía, los niños solo tenían
                        una pantalla para distraerse: el televisor. Si creciste en los años 80s o 90s, lo más probable es
                        que hayas visto
                        <strong>“Patoaventuras”</strong>, cuya nueva versión llega a Latinoamérica este fin de semana.</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="img-wrapper">
                    <a href="detail.html" title="Crítica de Mazinger Z Infinity, nueva película de Toei Animation">
                        <picture>
                            <source srcset="img/contents/mazinger-xs.jpg 375w, img/contents/mazinger-sm.jpg 768w" media="(min-width: 768px)">
                            <source srcset="img/contents/mazinger-md.jpg 1024w, img/contents/mazinger-@2x.jpg 1536w" media="(min-width: 992px)">
                            <source srcset="img/contents/mazinger-lg.jpg 1200w, img/contents/mazinger-@3x.jpg 2048w" media="(min-width: 1200px)">
                            <img class="image img-responsive" src="img/contents/mazinger-lg.jpg" alt="Developing" title="Crítica de Mazinger Z Infinity, nueva película de Toei Animation">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="Crítica de Mazinger Z Infinity, nueva película de Toei Animation">
                                <h1 class="title">Crítica de Mazinger Z Infinity, nueva película de Toei Animation</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-three.png" alt="Boba Fett Avatar" class="img-circle author-avatar" srcset="img/avatars/user-three.png 1x, img/avatars/user-three@2x.jpg 2x, img/avatars/user-three@3x.jpg 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="4" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="4" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">Boba Fett</span>,
                                    <time class="date" datetime="2017-09-11T13:30:00" data-toggle="tooltip" data-placement="bottom" title="11 Sept 2017, 13:30">
                                        11 Sept 2017, 13:30
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>Crítica de Mazinger Z Infinity, la película que llega en el 45 aniversario de la serie de televisión
                        y cómic y en el 50 aniversario del debut de su creador Go Nagai.
                    </p>
                    <p>¿Eras de los que disfrutaba de lo lindo viendo Mazinger Z? ¿Era tu serie favorita? Si la respuesta es
                        afirmativa, te va a dar un verdadero ataque de nostalgia viendo
                        <strong>Mazinger Z Infinity</strong>. Ojo, porque Selecta Visión la mantendrá en salas por tiempo limitado,
                        solo tres días: el 19, 20 y 21 de enero, así que ¡corre a por tu entrada si no quieres perdértela
                        en pantalla grande!</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="img-wrapper">
                    <a href="detail.html" title="Black Panther, la nueva película de Marvel">
                        <picture>
                            <source srcset="img/contents/black-panther-xs.jpg 375w, img/contents/black-panther-sm.jpg 768w" media="(min-width: 768px)">
                            <source srcset="img/contents/black-panther-md.jpg 1024w, img/contents/black-panther-@2x.jpg 1536w" media="(min-width: 992px)">
                            <source srcset="img/contents/black-panther-lg.jpg 1200w, img/contents/black-panther-@3x.jpg 2048w" media="(min-width: 1200px)">
                            <img class="image img-responsive" src="img/contents/black-panther-lg.jpg" alt="Developing" title="Black Panther, la nueva película de Marvel">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="Black Panther, la nueva película de Marvel">
                                <h1 class="title">Black Panther, la nueva película de Marvel</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-four.png" alt="C3-PO Avatar" class="img-circle author-avatar" srcset="img/avatars/user-four.png 1x, img/avatars/user-four@2x.jpg 2x, img/avatars/user-four@3x.jpg 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="5" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="5" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">C3-PO</span>,
                                    <time class="date" datetime="2017-10-22T08:22:00" data-toggle="tooltip" data-placement="bottom" title="22 Oct 2017, 08:22">
                                        22 Oct 2017, 08:22
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p> Black Panther, la nueva película de Marvel dirigida por Ryan Coogler y protagonizada por Chadwick Boseman,
                        Lupita Nyong'o, Michael B. Jordan y Andy Serkis. En cines a partir del 16 de febrero de 2018.
                    </p>
                    <p>El año marvelita arranca con Black Panther, la primera película en solitario de este superhéroe que nos
                        trasladará a Wakanda. Si echamos la vista atrás nos daremos cuenta de que han pasado ya ¡dos años!
                        desde que nos presentaran al T'Challa de Chadwick Boseman en Capitán América: Civil War, la película
                        de superhéroes más coral que hayamos visto hasta la fecha...</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="img-wrapper">
                    <a href="detail.html" title="El Roadster de Elon Musk es en realidad el cuarto coche en el espacio">
                        <picture>
                            <source srcset="img/contents/roadster-xs.jpg 375w, img/contents/roadster-sm.jpg 768w" media="(min-width: 768px)">
                            <source srcset="img/contents/roadster-md.jpg 1024w, img/contents/roadster-@2x.jpg 1536w" media="(min-width: 992px)">
                            <source srcset="img/contents/roadster-lg.jpg 1200w, img/contents/roadster-@3x.jpg 2048w" media="(min-width: 1200px)">
                            <img class="image img-responsive" src="img/contents/roadster-lg.jpg" alt="Graffiti" title="El Roadster de Elon Musk es en realidad el cuarto coche en el espacio">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="El Roadster de Elon Musk es en realidad el cuarto coche en el espacio">
                                <h1 class="title">El Roadster de Elon Musk es en realidad el cuarto coche en el espacio</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-placeholder.png" alt="Luke Avatar" class="img-circle author-avatar" srcset="img/avatars/user-placeholder.png 1x, img/avatars/user-placeholder@2x.jpg 2x, img/avatars/user-placeholder@3x.jpg 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="6" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="6" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">Luke</span>,
                                    <time class="date" datetime="2016-09-22T22:22:00" data-toggle="tooltip" data-placement="bottom" title="22 Sept 2016, 22:22">
                                        22 Sept 2016, 22:22
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>El Tesla Roadster de Elon Musk recientemente puesto en órbita por el primer Falcon Heavy no es el primer
                        coche eléctrico que enviamos al espacio, sino el cuarto, como bien recordaba Charlie Stross. Los
                        otros tres son los
                        <em>rover del programa Apolo</em>, que llevan ya más de 40 años aparcados en la Luna. </p>
                    <p>Menos mal que allí no hay ordenanzas reguladoras del aparcamiento, que nosotros sepamos.</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="video-wrapper embed-responsive embed-responsive-16by9">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/EMOj1HSpYlk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="El curso online de Darth Vader para transformar tu negocio en un imperio">
                                <h1 class="title">El curso online de Darth Vader para transformar tu negocio en un imperio</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-five.png" alt="R2-D2 Avatar" class="img-circle author-avatar" srcset="img/avatars/user-five.png 1x, img/avatars/user-five@2x.jpg 2x, img/avatars/user-five@3x.jpg 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="9" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="9" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">R2-D2</span>,
                                    <time class="date" datetime="2015-09-12T01:29:06" data-toggle="tooltip" data-placement="bottom" title="12 Sept 2015, 01:29">
                                        12 Sept 2015, 01:29
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>Una parodia en la cual el mismísimo Señor de los Sith, Darth Vader, te alecciona sobre los temas que mejor conoce: 
                        liderazgo, compromiso y cuándo estrangular a alguien usando la Fuerza.</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="img-wrapper">
                    <a href="detail.html" title="Un reloj atómico en el espacio">
                        <picture>
                            <source srcset="img/contents/atomico-xs.jpg 375w, img/contents/atomico-sm.jpg 768w" media="(min-width: 768px)">
                            <source srcset="img/contents/atomico-md.jpg 1024w, img/contents/atomico-@2x.jpg 1536w" media="(min-width: 992px)">
                            <source srcset="img/contents/atomico-lg.jpg 1200w, img/contents/atomico-@3x.jpg 2048w" media="(min-width: 1200px)">
                            <img class="image img-responsive" src="img/contents/atomico-lg.jpg" alt="Running in the beach" title="Un reloj atómico en el espacio">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="Un reloj atómico en el espacio">
                                <h1 class="title">Un reloj atómico en el espacio</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-six.png" alt="Stormtrooper Avatar" class="img-circle author-avatar" srcset="img/avatars/user-six.png 1x, img/avatars/user-placeholder@2x.png 2x, img/avatars/user-placeholder@3x.png 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="7" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="7" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">Stormtrooper</span>,
                                    <time class="date" datetime="2017-04-30T01:29:06" data-toggle="tooltip" data-placement="bottom" title="30 Abr 2017, 01:29">
                                        30 Abr 2017, 01:29
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>El proyecto DSAC (Deep Space Atomic Clock) de la NASA consiste en un reloj atómico de iones de mercurio miniaturizado y “ultrapreciso” que es, según la NASA, varios órdenes de magnitud más 
                        estable que cualquier de los mejores relojes de navegación que existen actualmente: su desajuste es inferior a un nanosegundo cada 10 días, 
                        por lo que se espera que no acumule más un microsegundo de error transcurridos diez años desde su puesta en marcha.</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="img-wrapper">
                    <a href="detail.html" title="Pioneer Programmer, las memorias de una de las programadoras originales del ENIAC">
                        <picture>
                            <source srcset="img/contents/pioneer-xs.jpg 375w, img/contents/pioneer-sm.jpg 768w" media="(min-width: 768px)">
                            <source srcset="img/contents/pioneer-md.jpg 1024w, img/contents/pioneer-@2x.jpg 1536w" media="(min-width: 992px)">
                            <source srcset="img/contents/pioneer-lg.jpg 1200w, img/contents/pioneer-@3x.jpg 2048w" media="(min-width: 1200px)">
                            <img class="image img-responsive" src="img/contents/pioneer-lg.jpg" alt="Running in the beach" title="Pioneer Programmer, las memorias de una de las programadoras originales del ENIAC">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="Pioneer Programmer, las memorias de una de las programadoras originales del ENIAC">
                                <h1 class="title">Pioneer Programmer, las memorias de una de las programadoras originales del ENIAC</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-placeholder.png" alt="Luke Avatar" class="img-circle author-avatar" srcset="img/avatars/user-placeholder.png 1x, img/avatars/user-placeholder@2x.jpg 2x, img/avatars/user-placeholder@3x.jpg 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="8" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="8" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">Luke</span>,
                                    <time class="date" datetime="2016-09-13T01:29:06" data-toggle="tooltip" data-placement="bottom" title="13 Sept 2016, 01:29">
                                        13 Sept 2016, 01:29
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>Tenía sesenta y uno. A lo largo de los años había golpeado mi cabeza una y otra vez contra el techo de cristal y ahora tenía otra cosa que jugaba en mi 
                        contra además de mi género – mi edad. Nadie sabía quien era, la historia se había olvidado de las contribuciones de las mujeres del ENIAC.</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xs-p-0">
                <div class="video-wrapper embed-responsive embed-responsive-16by9">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/xGcrvGTMgkg" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="detail.html" title="Si Siri hubiera existido en los 80">
                                <h1 class="title">Si Siri hubiera existido en los 80</h1>
                            </a>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="img/avatars/user-five.png" alt="R2-D2 Avatar" class="img-circle author-avatar" srcset="img/avatars/user-five.png 1x, img/avatars/user-five@2x.jpg 2x, img/avatars/user-five@3x.jpg 3x">
                                <div class="actions pull-right">
                                    <button class="btn btn-default like-button" data-article="10" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                        <span class="fa fa-heart"></span>
                                        <span class="fa fa-heart-o"></span>
                                        <span class="fa fa-circle-o-notch fa-spin"></span>
                                    </button>
                                    <a href="detail.html#comments" class="btn btn-default comments-count" data-article="10" data-toggle="tooltip" data-placement="bottom"
                                        title="View 45 comments">
                                        <span class="fa fa-comments"></span>
                                        <span class="count">45</span>
                                    </a>
                                </div>
                                <div class="metadata">
                                    <span class="author" rel="author">R2-D2</span>,
                                    <time class="date" datetime="2018-01-01T15:29:06" data-toggle="tooltip" data-placement="bottom" title="01 Ene 2018, 15:29">
                                        01 Ene 2018, 15:29
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    <p>En un glorioso formato de vídeo VHS rayado y con pantallas de baja calidad o peor nos llega esta recreación
                        de cómo hubiera sido Siri de existir en los gloriosos años 80. Es un montaje de Squirrel Monkey en
                        el que aparecen desde el Voice Master de Covox (mítico sintetizador de voz) a los chisporroteos del
                        módem Hayes y otros artilugios y software del pasado que no falten.</p>
                    <p>Y tiene mérito: todo «corre» sobre MS-DOS 3.31 (alternativamente: Mac OS) y a una velocidad que no va
                        precisamente pasada de gigahercios. Si alguna vez quisiste saber cuánto son 2+2 o cuál es el último
                        disco de Michael Jackson, es tu oportunidad.</p>
                </div>
            </div>
        </div>
    </article>

</section>