<article class="article single">
    <div class="row">
        <div class="col-xs-12">
            <header class="header">
                <h1 class="title">Dragon Ball Super prepara todo para la derrota de Vegeta</h1>
            </header>
        </div>
        <div class="col-xs-12 col-xs-p-0">
            <div class="img-wrapper">
                <picture>
                    <source srcset="img/contents/vegeta-xs.jpg 375w, img/contents/vegeta-sm.jpg 768w" media="(min-width: 768px)">
                    <source srcset="img/contents/vegeta-md.jpg 1024w, img/contents/vegeta-@2x.jpg 1536w" media="(min-width: 992px)">
                    <source srcset="img/contents/vegeta-lg.jpg 1200w, img/contents/vegeta-@3x.jpg 2048w" media="(min-width: 1200px)">
                    <img class="image img-responsive" src="img/contents/vegeta-lg.jpg" alt="Dogers player throwing a ball" title="With Dodgers, Dave Roberts Has Another Chance to Haunt the Yankees">
                </picture>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="meta">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="img/avatars/user-one.png" alt="Darth Vader Avatar" class="img-circle author-avatar" srcset="img/avatars/user-one.png 1x, img/avatars/user-one@2x.jpg 2x, img/avatars/user-one@3x.jpg 3x">
                        <div class="actions pull-right">
                            <button class="btn btn-default like-button" data-article="1" disabled data-toggle="tooltip" data-placement="bottom" title="Me gusta!">
                                <span class="fa fa-heart"></span>
                                <span class="fa fa-heart-o"></span>
                                <span class="fa fa-circle-o-notch fa-spin"></span>
                            </button>
                            <a href="detail.html#comments" class="btn btn-default comments-count" data-article="1" data-toggle="tooltip" data-placement="bottom"
                                title="View 45 comments">
                                <span class="fa fa-comments"></span>
                                <span class="count">45</span>
                            </a>
                        </div>
                        <div class="metadata">
                            <span class="author" rel="author">Darth Vader</span>,
                            <time class="date" datetime="2018-02-14T13:36:40" data-toggle="tooltip" data-placement="bottom" title="14 Feb 2018, 13:36">
                                14 Feb 2018, 13:36
                            </time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="body">
                <p>El príncipe de los saiyas, Vegeta, continúa en el Torneo de Poder. No obstante, esta realidad terminaría pronto de acuerdo al adelanto de 
                    <strong>"Dragon Ball Super"</strong> 128, donde se aprecia que enfrentará al poderoso Jiren.</p>
                <p>"Encargándonos todo, Número 17 nos protegió a Vegeta y a mí. ¡No importa cuán fuerte sea Jiren, no podemos rendirnos! ¡Venceremos a Jiren 
                    a toda costa! ¡Sobreviviremos! ¡Aquí vamos, Vegeta!", dice Gokú en el avance.</p>
                <p>Con el título de "¡Orgullo noble hasta el final! ¡La caída de Vegeta!", el avance de <em>"Dragon Ball Super"</em> 128 no muestra en ningún momento 
                    que Vegeta tenga más poder que Jiren, el representante final del Universo 11. Por si eso fuera poco, el saiya solo recibe un castigo tras otro.</p>
                <p>Mientras tanto, Gokú también intenta vencer al rival, pero sin éxito. Por un momento, desde el suelo, incluso observa cómo Vegeta resiste contra todo pronóstico</p>
                <p>Quedan solo tres minutos en el Torneo de Poder, certamen que no solo tiene como premio las súper esferas del dragón, sino la sobrevivencia, 
                    pues todos los universos que pierdan son eliminados por decisión de Zeno, el rey absoluto.</p>
            </div>
        </div>

    </div>
</article>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 ">
                <h3>Comentarios</h3>
            </div>
            <div class="col-xs-12 col-xs-p-0">
                <div id="comments" class="comments-list-wrapper">
                    <div class="loader">
                        <span class="fa fa-circle-o-notch fa-spin fa-3x"></span>
                    </div>
                    <div class="empty">
                        Se el primero en comentar!
                    </div>
                    <div class="error">
                        Oooops! Algo ha ido mal, prueba de nuevo más tarde.
                    </div>
                    <div class="comments-list"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="comments-form">
    <div class="container-fluid">
        <h3>Agrega tu comentario</h3>
        <form novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="fullName" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="E-mail" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment"
                                  placeholder="Tu comentario (120 palabras max.)" required></textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-default btn-primary pull-right" disabled>Comenta!
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>