<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>Smallium @ All rights reserved</p>
            </div>
            <div class="col-xs-12 text-center">
                <a href="#page-header" class="btn btn-default go-up" title="Go to page's top">
                    <span class="fa fa-arrow-up"></span>
                    Go to top
                </a>
            </div>
        </div>
    </div>
</footer>