<header id="page-header" class="header">            
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Smallium</a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="#">HOME</a>
                    </li>
                    <li class="">
                        <a href="#">TECHNOLOGY</a>
                    </li>
                    <li class="">
                        <a href="#">CULTURE</a>
                    </li>
                    <li class="hidden-sm">
                        <a href="#">ENTREPRENEURSHIP</a>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        <a href="#">CREATIVITY</a>
                    </li>
                    <li class="hidden-xs hidden-sm hidden-md">
                        <a href="#">SELF</a>
                    </li>
                    <li class="hidden-xs hidden-sm hidden-md">
                        <a href="#">POLITICS</a>
                    </li>
                    <li class="hidden-xs hidden-sm hidden-md">
                        <a href="#">MEDIA</a>
                    </li>
                    <li>
                        <a href="#">MORE</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-user"></span> Sign in
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>