<nav class="page-pagination">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="pager">
                    <li class="previous">
                        <a href="#">
                            <span class="fa fa-arrow-left"></span>
                            Previous posts
                        </a>
                    </li>
                    <li class="next">
                        <a href="#">
                            Next posts
                            <span class="fa fa-arrow-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>