// Fonts
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Slabo 27px', serif;
$font-family-titles: 'Patua One', cursive;

// Bootstrap font family vars
$font-family-base: $font-family-sans-serif;

// Colors
$dark-liver: #50514F;
$sunset-orange: #F25F5C;
$mustard: #FFE066;
$lapis-lazuli: #247BA0;
$green-sheen: #70C1B3;
$white: #FFFFFF;

// Color uses
$color-titles: $dark-liver;

// Bootstrap color vars
$gray-base: $dark-liver;
$gray-lighter: lighten($gray-base, 65%);
$brand-primary: $sunset-orange;


// Navbar
$navbar-default-brand-color: $sunset-orange;
$navbar-default-link-hover-color: $sunset-orange;
$navbar-default-link-active-color: $sunset-orange;

// Links
$link-color: $sunset-orange;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Transitions
$transition-speed-fast: 0.25s;
$transition-speed-medium: 0.25s;
$transition-speed-slow: 0.25s;
$transition-default-time: $transition-speed-fast;

// Footer
$page-footer-bg-color: $dark-liver;
$page-footer-text-color: $white;